[Unit]
# comment test
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target
After=postgresql.service mariadb.service mysql.service


[Service]
User=grafana
Group=grafana
Type=simple
Restart=on-failure
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/bin/grafana-server --config={{ config_dir }}/grafana.ini \
                            cfg:default.paths.logs={{ log_dir }} \
                            cfg:default.paths.data={{ data_dir }} \
                            cfg:default.paths.plugins={{ data_dir }}/plugins
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
